/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-image: url("img/bg.jpg");
}

body > div {
  width: 70%;
  margin: 0px auto;
  background-color: white;
  border: 2px solid #ffd24a;
}

header {
  padding: 20px;
  background-color: #ff8523;
}

.main_navigation {
  margin: 20px 0px;
}

.main_navigation > a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 40px;
}

.main_navigation > a:hover {
  background-color: #046c97;
}

#page_content {
  padding: 20px;
}

h2, h3 {
  color: #1fabe5;
}

li {
  font-weight: bold;
}

section:nth-child(2) {
  margin-top: 50px;
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
  padding-bottom: 50px;
  margin-bottom: 25px;
}

table {
  border-collapse: collapse;
}

thead td {
  background-color: #1fabe5;
  color: white;
  border: 0.5px solid black;
  padding: 10px 15px;
}

tbody td {
  border: 0.5px solid #046c97;
  padding: 5px 10px;
}

td img {
  height: 75px;
}

section:nth-child(3) {
  padding-bottom: 50px;
  border-bottom: 5px solid #eee;
}

form {
  background-color: #eee;
  border-radius: 8px;
  padding: 20px;
}

div label {
  font-weight: bold;
}

.name {
  background-color: #ff8523;
  border-radius: 8px;
  padding: 20px 0px;
}

.name label {
  color: white;
  margin-left: 20px

}

.name input {
  height: 40px;
  width: 30%;
  font-size: 15px;
}

.city_container {
  margin: 25px 0px;
}

textarea {
  width: 100%;
  border-color: #046c97;
  font-size: 15px;
  padding: 10px 8px;
}

.submit_container input {
  background-color: #1fabe5;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 8px;
}
